@import './utilities/colors';

input[type="submit"] {
    display: block;
    margin: 50px auto 0;
    padding: 10px 30px;
    border: none;
    border-radius: 14px;
    font-size: 1.1rem;
    transition: .5s;
    cursor: pointer;
    background-color: $color1;

    &:hover {
        background-color: $color5;
    }
}
