@import './utilities/colors';

.banner-img {
    background-image: url('../resources/banner-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    position: relative;
    margin-bottom: 75px;

    .banner-text-container {
        position: absolute;
        top: 45%;
        left: 15%;

        h1 {
            font-size: 4rem;
            margin-bottom: 5px;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

section {
    .title-section {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 40px;
    }
}

.grid-container {
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    row-gap: 40px;

    .container-img-info {
        position: relative;
        width: 400px;
        height: 400px;
        overflow: hidden;
        border-radius: 15px;
        z-index: 5;
        box-shadow: 1px 1px 5px black;

        img {
            width: 400px;
            filter: brightness(0.7);
        }

        .inner-card {
            position:absolute;
            display: block;
            width: 100%;
            top: 42%;

            h5 {
                text-align: center;
                font-size: 1.7rem;
                color: whitesmoke;
                margin-bottom: 50px;
            }

            a {
                position: relative;
                display: inline-block;
                left: 50%;
                transform: translateX(-50%);

                .info-button {
                    padding: 12px 25px;
                    border-radius: 13px;
                    margin: 0 auto;
                    background-color: $color1;
                    transition: all .5s;
                    color: white;
                    border: none;
                    font-size: 1rem;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        background-color: $color5;
                        color: black;
                    }
                }
            }
        }
    }
}

.section-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    .line {
        transform: rotate(90deg);
        width: 50px;
        margin: 0;
    }

    .item-container {
        padding: 30px 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            margin-right: 20px;
            font-size: 1.2rem;
        }

        i {
            margin-top: 3px;
        }
    }
}

@media (max-width: 1100px) {
    .grid-container {
        padding: 0;
    }
}

@media (max-width: 820px) {
    .banner-img {
        .banner-text-container {
            h1 {
                font-size: 2.5rem;
            }
        }
    }
    .grid-container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .section-row-center {
        flex-direction: column;

        .line {
            transform: rotate(0deg);
            width: 75px;            
        }
    }


}
