@import './utilities/colors';
@import './utilities/font';
@import './utilities/reseteo';

@import './layout/header';
@import './layout/nav-bar';
@import './layout/footer';

body {
    background-color: $color6;
}

a {
    text-decoration: none;
}

.line {
    width: 200px;
    height: 3px;
    background-color: #423E37;
    margin: 0 auto 100px auto;
}



