@import url("https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap");

$color1: #edb183;
$color2: #519872;
$color3: #016fb9;
$color4: #423e37;
$color5: #f4ebd9;
$color6: #fcfcf4;
$font-family: "Gantari", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

body {
    background-color: $color6;
}

a {
    text-decoration: none;
}


// Header

header {
    padding: 12px 0;
    background-color: $color6;

    h1 {
        display: none;
    }

    .logo-title-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
        }
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;

    ul {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    li {
        padding: 20px 14px;
        margin: 0 4px;

        a {
            color: black;
            text-decoration: none;
            vertical-align: top;
        }

        i {
            margin-right: 3px;
        }
    }
}

// Tratar de anidar en la declaracion de arriba
ul.nav-bar {
    li {
        list-style: none;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $color5;
        }
    }
}

// FOOTER

footer {
    background-color: beige;

    h5 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 30px 0;
    }

    .footer-container-item {
        padding: 30px 5px;

        .social-container {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 10px;

                li {
                    list-style: none;
                }
            }
        }

        form {
            display: flex;
            justify-content: center;

            input {
                padding: 8px 3px;
                border: none;
            }

            button {
                height: 36px;
                width: 36px;
                border: none;
                background-color: var(--color4);
                color: white;
                cursor: pointer;

                svg {
                    width: 50%;
                    height: 50%;
                }
            }
        }

    }

    .container-created {
        display: block;
        background-color: var(--color4);
        color: white;
        text-align: center;
        padding: 10px 0;

        h5 {
            margin: 0;
            font-size: 0.8rem;
        }
    }
}

.line {
    width: 200px;
    height: 3px;
    background-color: #423E37;
    margin: 0 auto 100px auto;
}

@media (max-width: 768px) {
    nav {
        display: block;
        margin: 0 auto;

        ul {
            gap: 20px;

            li {
                padding: 10px;
                margin: 0;
            }
        }
    }

    // ANIDAR EN LA MEDIA QUERIE ANTERIOR
    ul.nav-bar li span{
        display: none;
    }
    
    .footer-container {
        flex-direction: column;
    }
}