h2 {
    text-align: center;
    font-size: 3rem;
    margin: 50px 0;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    .product-card {
        width: 300px;
        overflow: hidden;
        border-radius: 15px;
        margin: 10px;
        box-shadow: 2px 2px 9px -3px black;

        .product-img-container {
            width: 100%;
            height: 30%;
            overflow: hidden;

            img {
                width: 100%;
                display: block;
                object-fit: cover;
                transition: all .5s;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }
        
        .card-info {
            margin: 8px 10px;

            .category-weight {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                font-size: 0.8rem;
            }

            h6 {
                font-size: 1.3rem;
                margin-bottom: 20px;
            }

            .product-price {
                text-align: center;
                margin-bottom: 30px;
                font-size: 1.4rem;
            }

            button {
                display: block;
                text-transform: uppercase;
                margin: 0 auto;
                width: 80%;
                background-color: transparent;
                border-color: var(--color1);
                border-width: 1px;
                border-style: solid;
                padding: 10px;
                transition: all .5s;

                &:hover {
                    background-color: $color1;
                }
            }
        }
    }
}
