header {
    padding: 12px 0;
    background-color: $color6;

    h1 {
        display: none;
    }

    .logo-title-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
        }
    }
}