@import url(./styles.css);


h2 {
    text-align: center;
    font-size: 3rem;
    margin: 50px 0;
}


/* Articles styles */

h3 {
    font-size: 1.5rem;
    margin-left: 50px;
    margin-bottom: 20px;
}

article {
    margin-bottom: 50px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

/* Ordened list */

ol.steps-faq, ul.steps-faq {
    margin-left: 100px;
}

ol.steps-faq li {
    list-style-type: decimal;
    margin-bottom: 7px;
}

/* Unordened list */

ul.steps-faq li {
    list-style-type: disc ;
    margin-bottom: 7px;
}

@media (max-width: 860px) {
    article {
        width: 70%;
    }
}

@media (max-width: 768px) {
    article {
        width: 90%;
    }

    h3 {
        margin-left: 25px;
    }
    
    ol.steps-faq, ul.steps-faq {
        margin-left: 70px;
    }
}

@media (max-width: 425px) {
    article {
        width: 100%;

    }

    h3 {
        margin-left: 15px;
    }

    ol.steps-faq, ul.steps-faq {
        margin-left: 50px;
    }
}