/* ---------- Index sytles ---------- */

/* Banner */

.banner-img {
    background-image: url('../resources/banner-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    position: relative;
    margin-bottom: 75px;
}


.banner-text-container{
    position: absolute;
    top: 45%;
    left: 15%;
}

.banner-text-container h2 {
    font-size: 4rem;
    margin-bottom: 5px;
}

.banner-text-container p {
    font-size: 1.5rem;
}

/* Section images and text */

section > h4 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}



/* Grid */

.grid-container {
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    row-gap: 40px;
    
}



/* ------ Cards ------ */

.container-img-info {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    z-index: 5;
    box-shadow: 1px 1px 5px black;
}

.container-img-info img {
    width: 400px;
}

.container-img-info .inner-card  {
    position:absolute;
    display: block;
    width: 100%;
    top: 42%;
}

.inner-card h5 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color6);
    margin-bottom: 50px;
}

.inner-card a {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.info-button {
    padding: 7px 20px;
    border-radius: 13px;
    margin: 0 auto;
    background-color: var(--color1);
    transition: all .5s;
    color: white;
    border: none;
    cursor: pointer;
    
}

.info-button:hover {
    background-color: var(--color5);
    color: black;
}

/* Envios - Cuotas - Compras mayoristas */
.section-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.section-row-center .line {
    transform: rotate(90deg);
    width: 50px;
    margin: 0;
}

.item-container {
    font-size: 1.2rem;
    padding: 30px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container h4 {
    margin-right: 20px
}

/* Media queries */

@media (max-width: 1100px) {
    .grid-container {
        padding: 0;
    }
}

@media (max-width: 820px) {
    .grid-container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .section-row-center {
        flex-direction: column;
    }

    .section-row-center .line {
        transform: rotate(0deg);
        width: 75px;
        
    }
}


